<ion-header>
  <ion-toolbar>
    <ion-title>
      Garbage Cleaning App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="landing-page">
    <h1>Welcome to Garbage Cleaning App</h1>
    <p>Help keep your environment clean by submitting garbage sightings.</p>
    <ion-button expand="block" routerLink="/citizen-login">
      Citizen Login
    </ion-button>
    <ion-button expand="block" routerLink="/login">
      Admin Login
    </ion-button>
  </div>
</ion-content>
